<!-- <p id="notice"><%= notice %></p> -->
<h1>Review Submitted For:</h2>
<%= form_for(@comment) do |f| %>

<h2>
  <i><%= @comment.review.booktitle %></i> by <%= @comment.review.author %></h2>

<hr />
  <p>
      <strong>Chapter:</strong>
      <%==@comment.cchapter %>
  </p>

    <p>
      <strong>Review Date:</strong>
      <%==@comment.cmonth %> <%==@comment.cyear %>
  </p>

  <p>
      <strong>Chapter Overall Book Rating:</strong>
      <%==@comment.cgograting %>
  </p>

  <p>
      <strong>Review:</strong>
      <%==@comment.creview %>
  </p>

  <p>
      <strong>Questions for the Author:</strong>
      <%==@comment.cquestions %>
  </p>

    <p>
      <strong><i>
      <% if @comment.crecommend == true %>
      Yes, my chapter would recommend this book to others.
      <% else %>
      No, my chapter would not recommend this book to others.
      <% end %></i></strong>
      <%#==@comment.crecommend %>
  </p>



<% end %>

<%= link_to 'Edit Book Review', edit_comment_path(@comment) %> | <%= link_to 'Delete Book Review', @comment, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%#= link_to 'Return To All Books List', comments_path %>
<%= link_to 'Return To All Books List', controller: "comments" %>
