<!-- <p id="notice"><%= notice %></p> -->
<h1>Comment Information:</h2>
<%= form_for(@comment) do |f| %>

<p><strong>Book Title:</strong>
  <%= @comment.review.booktitle %>


  <p>
      <strong>Chapter:</strong>
      <%==@comment.cchapter %>
  </p>

    <p>
      <strong>Review Date:</strong>
      <%==@comment.cmonth %>
  </p>

  <p>
      <strong>Chapter Overall Book Rating:</strong>
      <%==@comment.cgograting %>
  </p>

  <p>
      <strong>Review:</strong>
      <%==@comment.creview %>
  </p>

  <p>
      <strong>Questions for the Author:</strong>
      <%==@comment.cquestions %>
  </p>

    <p>
      <strong>Recommend this Book (Y/N):</strong>
      <%==@comment.crecommend %>
  </p>



<% end %>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%#= link_to 'Return To All Books List', comments_path %>
<%= link_to 'Return To All Books List', controller: "comments" %>
