<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cmonth %><br>
    <%= f.text_field :cmonth %>
  </div>
  <div class="field">
    <%= f.label :cyear %><br>
    <%= f.number_field :cyear %>
  </div>
  <div class="field">
    <%= f.label :cchapter %><br>
    <%= f.text_field :cchapter %>
  </div>
  <div class="field">
    <%= f.label :cmembernum %><br>
    <%= f.number_field :cmembernum %>
  </div>
  <div class="field">
    <%= f.label :cgograting %><br>
    <%= f.number_field :cgograting %>
  </div>
  <div class="field">
    <%= f.label :creview %><br>
    <%= f.text_area :creview %>
  </div>
  <div class="field">
    <%= f.label :cquestions %><br>
    <%= f.text_area :cquestions %>
  </div>
  <div class="field">
    <%= f.label :crecommend %><br>
    <%= f.check_box :crecommend %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
