<h1>Welcome to the Book Club Chapter Questionnaire</h1>
<p>Select a book from list below to write and submit your chapter's review.</p>
<table>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.booktitle %></td>
        <td><%= review.author %></td>
        <td><%= image_tag review.bookthumb %></td>
        <td><%= review.url %></td> 
        <td><%= review.rating %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
